<p id="notice"><%= notice %></p>

<p>
  <strong>Error title:</strong>
  <%= @error.error_title %>
</p>

<p>
  <strong>Group:</strong>
  <%= @error.group %>
</p>

<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
