<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @daily_report.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @daily_report.note %>
</p>

<p>
  <strong>Group:</strong>
  <%= @daily_report.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @daily_report.user %>
</p>

<p>
  <strong>Mistake:</strong>
  <%= @daily_report.mistake %>
</p>

<%= link_to 'Edit', edit_daily_report_path(@daily_report) %> |
<%= link_to 'Back', daily_reports_path %>
